---
import CesiumWrapper from "../components/CesiumWrapper"
import SatelliteInterface from "../components/SatelliteInterface"
import "../styles/base.css"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Commandant</title>
	</head>
	<body class="dark">
        <slot />
	</body>
</html>
